USE [master]
GO
/****** Object:  Database [SubastasPokemon]    Script Date: 03/03/2026 22:41:28 ******/
CREATE DATABASE [SubastasPokemon]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'SubastasPokemon', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\SubastasPokemon.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'SubastasPokemon_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\SubastasPokemon_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [SubastasPokemon].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [SubastasPokemon]
GO
/****** Object:  Table [dbo].[CartaCategoria]    Script Date: 03/03/2026 22:41:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CartaCategoria](
	[CartaID] [int] NOT NULL,
	[CategoriaID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[CartaID] ASC,
	[CategoriaID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Cartas]    Script Date: 03/03/2026 22:41:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cartas](
	[CartaID] [int] IDENTITY(1,1) NOT NULL,
	[NombreCarta] [varchar](100) NOT NULL,
	[Descripcion] [varchar](max) NULL,
	[Condicion] [varchar](20) NOT NULL,
	[EstadoCartaID] [int] NOT NULL,
	[FechaRegistro] [datetime] NULL,
	[VendedorID] [int] NOT NULL,
	[Edicion] [varchar](100) NULL,
	[Rareza] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[CartaID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Categorias]    Script Date: 03/03/2026 22:41:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categorias](
	[CategoriaID] [int] IDENTITY(1,1) NOT NULL,
	[NombreCategoria] [varchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[CategoriaID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EstadosCarta]    Script Date: 03/03/2026 22:41:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EstadosCarta](
	[EstadoCartaID] [int] IDENTITY(1,1) NOT NULL,
	[NombreEstado] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[EstadoCartaID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EstadosPago]    Script Date: 03/03/2026 22:41:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EstadosPago](
	[EstadoPagoID] [int] IDENTITY(1,1) NOT NULL,
	[NombreEstado] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[EstadoPagoID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EstadosSubasta]    Script Date: 03/03/2026 22:41:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EstadosSubasta](
	[EstadoSubastaID] [int] IDENTITY(1,1) NOT NULL,
	[NombreEstado] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[EstadoSubastaID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EstadosUsuario]    Script Date: 03/03/2026 22:41:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EstadosUsuario](
	[EstadoUsuarioID] [int] IDENTITY(1,1) NOT NULL,
	[NombreEstado] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[EstadoUsuarioID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Ganadores]    Script Date: 03/03/2026 22:41:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ganadores](
	[GanadorID] [int] IDENTITY(1,1) NOT NULL,
	[SubastaID] [int] NOT NULL,
	[UsuarioID] [int] NOT NULL,
	[MontoFinal] [decimal](10, 2) NOT NULL,
	[FechaCierre] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[GanadorID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ImagenesCarta]    Script Date: 03/03/2026 22:41:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ImagenesCarta](
	[ImagenID] [int] IDENTITY(1,1) NOT NULL,
	[CartaID] [int] NOT NULL,
	[URLImagen] [varchar](255) NOT NULL,
	[EsPrincipal] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ImagenID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Pagos]    Script Date: 03/03/2026 22:41:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Pagos](
	[PagoID] [int] IDENTITY(1,1) NOT NULL,
	[SubastaID] [int] NOT NULL,
	[CompradorID] [int] NOT NULL,
	[EstadoPagoID] [int] NOT NULL,
	[FechaPago] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[PagoID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Pujas]    Script Date: 03/03/2026 22:41:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Pujas](
	[PujaID] [int] IDENTITY(1,1) NOT NULL,
	[SubastaID] [int] NOT NULL,
	[CompradorID] [int] NOT NULL,
	[MontoOfertado] [decimal](10, 2) NOT NULL,
	[FechaHora] [datetime] NULL,
	[Notificado] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[PujaID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Roles]    Script Date: 03/03/2026 22:41:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[RolID] [int] IDENTITY(1,1) NOT NULL,
	[NombreRol] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[RolID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Subastas]    Script Date: 03/03/2026 22:41:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Subastas](
	[SubastaID] [int] IDENTITY(1,1) NOT NULL,
	[CartaID] [int] NOT NULL,
	[VendedorID] [int] NOT NULL,
	[FechaInicio] [datetime] NOT NULL,
	[FechaCierre] [datetime] NOT NULL,
	[PrecioBase] [decimal](10, 2) NOT NULL,
	[IncrementoMinimo] [decimal](10, 2) NOT NULL,
	[EstadoSubastaID] [int] NOT NULL,
	[MontoActual] [decimal](10, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[SubastaID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuarios]    Script Date: 03/03/2026 22:41:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuarios](
	[UsuarioID] [int] IDENTITY(1,1) NOT NULL,
	[CorreoElectronico] [varchar](100) NOT NULL,
	[PasswordHash] [varchar](255) NOT NULL,
	[NombreCompleto] [varchar](150) NOT NULL,
	[EstadoUsuarioID] [int] NOT NULL,
	[RolID] [int] NOT NULL,
	[FechaRegistro] [datetime] NULL,
	[Telefono] [varchar](20) NULL,
	[TokenRecuperacion] [varchar](255) NULL,
	[Notificado] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[UsuarioID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[CartaCategoria] ([CartaID], [CategoriaID]) VALUES (1, 1)
INSERT [dbo].[CartaCategoria] ([CartaID], [CategoriaID]) VALUES (2, 2)
INSERT [dbo].[CartaCategoria] ([CartaID], [CategoriaID]) VALUES (3, 1)
GO
SET IDENTITY_INSERT [dbo].[Cartas] ON 

INSERT [dbo].[Cartas] ([CartaID], [NombreCarta], [Descripcion], [Condicion], [EstadoCartaID], [FechaRegistro], [VendedorID], [Edicion], [Rareza]) VALUES (1, N'Pikachu', N'Carta eléctrica básica', N'Nueva', 1, CAST(N'2026-03-03T21:57:14.350' AS DateTime), 1, N'Edición 1', N'Común')
INSERT [dbo].[Cartas] ([CartaID], [NombreCarta], [Descripcion], [Condicion], [EstadoCartaID], [FechaRegistro], [VendedorID], [Edicion], [Rareza]) VALUES (2, N'Charizard', N'Carta de fuego legendaria', N'Usada', 1, CAST(N'2026-03-03T21:57:14.350' AS DateTime), 3, N'Edición 2', N'Rara')
INSERT [dbo].[Cartas] ([CartaID], [NombreCarta], [Descripcion], [Condicion], [EstadoCartaID], [FechaRegistro], [VendedorID], [Edicion], [Rareza]) VALUES (3, N'Venusaur', N'Carta de planta poderosa', N'Nueva', 1, CAST(N'2026-03-03T21:57:14.350' AS DateTime), 6, N'Edición 3', N'Rara')
SET IDENTITY_INSERT [dbo].[Cartas] OFF
GO
SET IDENTITY_INSERT [dbo].[Categorias] ON 

INSERT [dbo].[Categorias] ([CategoriaID], [NombreCategoria]) VALUES (1, N'Pokémon Básico')
INSERT [dbo].[Categorias] ([CategoriaID], [NombreCategoria]) VALUES (2, N'Pokémon Legendario')
SET IDENTITY_INSERT [dbo].[Categorias] OFF
GO
SET IDENTITY_INSERT [dbo].[EstadosCarta] ON 

INSERT [dbo].[EstadosCarta] ([EstadoCartaID], [NombreEstado]) VALUES (1, N'Disponible')
INSERT [dbo].[EstadosCarta] ([EstadoCartaID], [NombreEstado]) VALUES (2, N'Vendida')
SET IDENTITY_INSERT [dbo].[EstadosCarta] OFF
GO
SET IDENTITY_INSERT [dbo].[EstadosPago] ON 

INSERT [dbo].[EstadosPago] ([EstadoPagoID], [NombreEstado]) VALUES (2, N'Completado')
INSERT [dbo].[EstadosPago] ([EstadoPagoID], [NombreEstado]) VALUES (1, N'Pendiente')
SET IDENTITY_INSERT [dbo].[EstadosPago] OFF
GO
SET IDENTITY_INSERT [dbo].[EstadosSubasta] ON 

INSERT [dbo].[EstadosSubasta] ([EstadoSubastaID], [NombreEstado]) VALUES (1, N'Abierta')
INSERT [dbo].[EstadosSubasta] ([EstadoSubastaID], [NombreEstado]) VALUES (2, N'Cerrada')
SET IDENTITY_INSERT [dbo].[EstadosSubasta] OFF
GO
SET IDENTITY_INSERT [dbo].[EstadosUsuario] ON 

INSERT [dbo].[EstadosUsuario] ([EstadoUsuarioID], [NombreEstado]) VALUES (1, N'Activo')
INSERT [dbo].[EstadosUsuario] ([EstadoUsuarioID], [NombreEstado]) VALUES (2, N'Inactivo')
SET IDENTITY_INSERT [dbo].[EstadosUsuario] OFF
GO
SET IDENTITY_INSERT [dbo].[ImagenesCarta] ON 

INSERT [dbo].[ImagenesCarta] ([ImagenID], [CartaID], [URLImagen], [EsPrincipal]) VALUES (1, 1, N'/Images/CartaPok01.png', 1)
INSERT [dbo].[ImagenesCarta] ([ImagenID], [CartaID], [URLImagen], [EsPrincipal]) VALUES (2, 2, N'/Images/CartaPok02.png', 1)
INSERT [dbo].[ImagenesCarta] ([ImagenID], [CartaID], [URLImagen], [EsPrincipal]) VALUES (9, 3, N'/Images/CartaPok03.jpg', 1)
SET IDENTITY_INSERT [dbo].[ImagenesCarta] OFF
GO
SET IDENTITY_INSERT [dbo].[Pujas] ON 

INSERT [dbo].[Pujas] ([PujaID], [SubastaID], [CompradorID], [MontoOfertado], [FechaHora], [Notificado]) VALUES (1, 1, 2, CAST(120.00 AS Decimal(10, 2)), CAST(N'2026-03-03T21:57:14.353' AS DateTime), 0)
INSERT [dbo].[Pujas] ([PujaID], [SubastaID], [CompradorID], [MontoOfertado], [FechaHora], [Notificado]) VALUES (2, 1, 4, CAST(150.00 AS Decimal(10, 2)), CAST(N'2026-03-03T21:57:14.353' AS DateTime), 0)
INSERT [dbo].[Pujas] ([PujaID], [SubastaID], [CompradorID], [MontoOfertado], [FechaHora], [Notificado]) VALUES (3, 2, 2, CAST(600.00 AS Decimal(10, 2)), CAST(N'2026-03-03T21:57:14.353' AS DateTime), 0)
SET IDENTITY_INSERT [dbo].[Pujas] OFF
GO
SET IDENTITY_INSERT [dbo].[Roles] ON 

INSERT [dbo].[Roles] ([RolID], [NombreRol]) VALUES (2, N'Comprador')
INSERT [dbo].[Roles] ([RolID], [NombreRol]) VALUES (1, N'Vendedor')
SET IDENTITY_INSERT [dbo].[Roles] OFF
GO
SET IDENTITY_INSERT [dbo].[Subastas] ON 

INSERT [dbo].[Subastas] ([SubastaID], [CartaID], [VendedorID], [FechaInicio], [FechaCierre], [PrecioBase], [IncrementoMinimo], [EstadoSubastaID], [MontoActual]) VALUES (1, 1, 1, CAST(N'2026-03-03T21:57:14.353' AS DateTime), CAST(N'2026-03-10T21:57:14.353' AS DateTime), CAST(100.00 AS Decimal(10, 2)), CAST(10.00 AS Decimal(10, 2)), 1, NULL)
INSERT [dbo].[Subastas] ([SubastaID], [CartaID], [VendedorID], [FechaInicio], [FechaCierre], [PrecioBase], [IncrementoMinimo], [EstadoSubastaID], [MontoActual]) VALUES (2, 2, 3, CAST(N'2026-03-03T21:57:14.353' AS DateTime), CAST(N'2026-03-10T21:57:14.353' AS DateTime), CAST(500.00 AS Decimal(10, 2)), CAST(50.00 AS Decimal(10, 2)), 1, NULL)
INSERT [dbo].[Subastas] ([SubastaID], [CartaID], [VendedorID], [FechaInicio], [FechaCierre], [PrecioBase], [IncrementoMinimo], [EstadoSubastaID], [MontoActual]) VALUES (3, 3, 6, CAST(N'2026-02-21T21:57:14.353' AS DateTime), CAST(N'2026-02-28T21:57:14.353' AS DateTime), CAST(300.00 AS Decimal(10, 2)), CAST(20.00 AS Decimal(10, 2)), 2, NULL)
SET IDENTITY_INSERT [dbo].[Subastas] OFF
GO
SET IDENTITY_INSERT [dbo].[Usuarios] ON 

INSERT [dbo].[Usuarios] ([UsuarioID], [CorreoElectronico], [PasswordHash], [NombreCompleto], [EstadoUsuarioID], [RolID], [FechaRegistro], [Telefono], [TokenRecuperacion], [Notificado]) VALUES (1, N'ash@pokemon.com', N'hash1', N'Ash Ketchum', 1, 1, CAST(N'2026-03-03T21:57:14.350' AS DateTime), N'1111-1111', NULL, 0)
INSERT [dbo].[Usuarios] ([UsuarioID], [CorreoElectronico], [PasswordHash], [NombreCompleto], [EstadoUsuarioID], [RolID], [FechaRegistro], [Telefono], [TokenRecuperacion], [Notificado]) VALUES (2, N'misty@pokemon.com', N'hash2', N'Misty Waterflower', 1, 2, CAST(N'2026-03-03T21:57:14.350' AS DateTime), N'2222-2222', NULL, 0)
INSERT [dbo].[Usuarios] ([UsuarioID], [CorreoElectronico], [PasswordHash], [NombreCompleto], [EstadoUsuarioID], [RolID], [FechaRegistro], [Telefono], [TokenRecuperacion], [Notificado]) VALUES (3, N'brock@pokemon.com', N'hash3', N'Brock Harrison', 1, 1, CAST(N'2026-03-03T21:57:14.350' AS DateTime), N'3333-3333', NULL, 0)
SET IDENTITY_INSERT [dbo].[Usuarios] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Categori__A21FBE9F5CD56B10]    Script Date: 03/03/2026 22:41:29 ******/
ALTER TABLE [dbo].[Categorias] ADD UNIQUE NONCLUSTERED 
(
	[NombreCategoria] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__EstadosC__6CE506159038383F]    Script Date: 03/03/2026 22:41:29 ******/
ALTER TABLE [dbo].[EstadosCarta] ADD UNIQUE NONCLUSTERED 
(
	[NombreEstado] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__EstadosP__6CE5061572D9F7B1]    Script Date: 03/03/2026 22:41:29 ******/
ALTER TABLE [dbo].[EstadosPago] ADD UNIQUE NONCLUSTERED 
(
	[NombreEstado] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__EstadosS__6CE50615783E2968]    Script Date: 03/03/2026 22:41:29 ******/
ALTER TABLE [dbo].[EstadosSubasta] ADD UNIQUE NONCLUSTERED 
(
	[NombreEstado] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__EstadosU__6CE50615CFA983A3]    Script Date: 03/03/2026 22:41:29 ******/
ALTER TABLE [dbo].[EstadosUsuario] ADD UNIQUE NONCLUSTERED 
(
	[NombreEstado] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ__Ganadore__46C5CE7BE0BB2891]    Script Date: 03/03/2026 22:41:29 ******/
ALTER TABLE [dbo].[Ganadores] ADD UNIQUE NONCLUSTERED 
(
	[SubastaID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ__Pagos__46C5CE7BA586AA28]    Script Date: 03/03/2026 22:41:29 ******/
ALTER TABLE [dbo].[Pagos] ADD UNIQUE NONCLUSTERED 
(
	[SubastaID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Roles__4F0B537FB7C6E4AE]    Script Date: 03/03/2026 22:41:29 ******/
ALTER TABLE [dbo].[Roles] ADD UNIQUE NONCLUSTERED 
(
	[NombreRol] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Usuarios__531402F384FAC49D]    Script Date: 03/03/2026 22:41:29 ******/
ALTER TABLE [dbo].[Usuarios] ADD UNIQUE NONCLUSTERED 
(
	[CorreoElectronico] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Cartas] ADD  DEFAULT (getdate()) FOR [FechaRegistro]
GO
ALTER TABLE [dbo].[ImagenesCarta] ADD  DEFAULT ((0)) FOR [EsPrincipal]
GO
ALTER TABLE [dbo].[Pujas] ADD  DEFAULT (getdate()) FOR [FechaHora]
GO
ALTER TABLE [dbo].[Pujas] ADD  DEFAULT ((0)) FOR [Notificado]
GO
ALTER TABLE [dbo].[Usuarios] ADD  DEFAULT (getdate()) FOR [FechaRegistro]
GO
ALTER TABLE [dbo].[Usuarios] ADD  DEFAULT ((0)) FOR [Notificado]
GO
ALTER TABLE [dbo].[CartaCategoria]  WITH CHECK ADD FOREIGN KEY([CartaID])
REFERENCES [dbo].[Cartas] ([CartaID])
GO
ALTER TABLE [dbo].[CartaCategoria]  WITH CHECK ADD FOREIGN KEY([CategoriaID])
REFERENCES [dbo].[Categorias] ([CategoriaID])
GO
ALTER TABLE [dbo].[Cartas]  WITH CHECK ADD FOREIGN KEY([EstadoCartaID])
REFERENCES [dbo].[EstadosCarta] ([EstadoCartaID])
GO
ALTER TABLE [dbo].[Cartas]  WITH CHECK ADD FOREIGN KEY([VendedorID])
REFERENCES [dbo].[Usuarios] ([UsuarioID])
GO
ALTER TABLE [dbo].[Ganadores]  WITH CHECK ADD FOREIGN KEY([SubastaID])
REFERENCES [dbo].[Subastas] ([SubastaID])
GO
ALTER TABLE [dbo].[Ganadores]  WITH CHECK ADD FOREIGN KEY([UsuarioID])
REFERENCES [dbo].[Usuarios] ([UsuarioID])
GO
ALTER TABLE [dbo].[ImagenesCarta]  WITH CHECK ADD FOREIGN KEY([CartaID])
REFERENCES [dbo].[Cartas] ([CartaID])
GO
ALTER TABLE [dbo].[Pagos]  WITH CHECK ADD FOREIGN KEY([CompradorID])
REFERENCES [dbo].[Usuarios] ([UsuarioID])
GO
ALTER TABLE [dbo].[Pagos]  WITH CHECK ADD FOREIGN KEY([EstadoPagoID])
REFERENCES [dbo].[EstadosPago] ([EstadoPagoID])
GO
ALTER TABLE [dbo].[Pagos]  WITH CHECK ADD FOREIGN KEY([SubastaID])
REFERENCES [dbo].[Subastas] ([SubastaID])
GO
ALTER TABLE [dbo].[Pujas]  WITH CHECK ADD FOREIGN KEY([CompradorID])
REFERENCES [dbo].[Usuarios] ([UsuarioID])
GO
ALTER TABLE [dbo].[Pujas]  WITH CHECK ADD FOREIGN KEY([SubastaID])
REFERENCES [dbo].[Subastas] ([SubastaID])
GO
ALTER TABLE [dbo].[Subastas]  WITH CHECK ADD FOREIGN KEY([CartaID])
REFERENCES [dbo].[Cartas] ([CartaID])
GO
ALTER TABLE [dbo].[Subastas]  WITH CHECK ADD FOREIGN KEY([EstadoSubastaID])
REFERENCES [dbo].[EstadosSubasta] ([EstadoSubastaID])
GO
ALTER TABLE [dbo].[Subastas]  WITH CHECK ADD FOREIGN KEY([VendedorID])
REFERENCES [dbo].[Usuarios] ([UsuarioID])
GO
ALTER TABLE [dbo].[Usuarios]  WITH CHECK ADD FOREIGN KEY([EstadoUsuarioID])
REFERENCES [dbo].[EstadosUsuario] ([EstadoUsuarioID])
GO
ALTER TABLE [dbo].[Usuarios]  WITH CHECK ADD FOREIGN KEY([RolID])
REFERENCES [dbo].[Roles] ([RolID])
GO
ALTER TABLE [dbo].[Cartas]  WITH CHECK ADD CHECK  (([Condicion]='Usada' OR [Condicion]='Nueva'))
GO
USE [master]
GO
