
@using proyecto.web.ViewModels
@model ViewModelInput

<div class="row" id="MyAddCarta">

    <div class="row">
        <div class="col-md-8">

            <div class="mb-2">
                <label class="form-label">Buscar carta</label>
                <input id="NombreCartaModal"
                       class="form-control form-control-sm"
                       placeholder="Escriba el nombre de la carta..." />
            </div>

            <input type="hidden" id="CartaIdSeleccionada" />

            <div class="mb-2">
                <label id="CartaSelect">Carta: -</label><br />
                <label id="DescripcionSelect">Descripción: -</label><br />
                <label id="EstadoCartaSelect">Estado: -</label>
            </div>

            <div class="d-grid">
                <button type="button"
                        class="btn btn-success btn-sm"
                        onclick="confirmarCarta()">
                    Seleccionar carta
                </button>
            </div>

        </div>

        <div class="col-md-4 text-center">
            <img id="ImgCarta"
                 src="/Images/nophoto.jpg"
                 class="img-fluid rounded"
                 style="max-height:150px;" />
        </div>
    </div>

</div>
